<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="public/CSS/courses.css">

</head>
<body> -->

        <div class="course-list row row-cols-1 row-cols-md-2 g-4 mt-5">

            

            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                    <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                    <p>
                    <span class="badge badge bg-success">Online</span> <span class="badge badge bg-success">Certification</span>
                    <span class="badge bg-success">100% Placement Guarantee</span>
                </p>
                    
                <span style="display: flex; justify-content: space-between; align-items: center; ">

                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>

                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>

                </span>
                    
                </div>
    
                
    
            </div>
            
            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-success">Online</span> <span class="badge bg-success">Certification</span>
                    <span class="badge bg-success">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>

            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-secondary">Online</span> <span class="badge bg-secondary">Certification</span>
                    <span class="badge bg-secondary">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>

            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-secondary">Online</span> <span class="badge bg-secondary">Certification</span>
                    <span class="badge bg-secondary">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>
 
            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-secondary">Online</span> <span class="badge bg-secondary">Certification</span>
                    <span class="badge bg-secondary">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>

            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-secondary">Online</span> <span class="badge bg-secondary">Certification</span>
                    <span class="badge bg-secondary">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>

            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-secondary">Online</span> <span class="badge bg-secondary">Certification</span>
                    <span class="badge bg-secondary">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>

            <div class="course-card card m-4">

                <img src="./assets/download.jfif" class="course-img card-img-top mt-2" alt="front-end">
                <h4 class="card-title">Full Stack Development</h4>

                <div class="card-body">
                  <p class="card-text course-card-info">Master front-end and back-end technologies to build complete web applications.</p>
                  <p>
                    <span class="badge bg-secondary">Online</span> <span class="badge bg-secondary">Certification</span>
                    <span class="badge bg-secondary">100% Placement Guarantee</span>
                </p>
                  
                <span style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="#" class="btn btn-primary explore-btn">Explore</a>
                    <span class="position-absolute top-0 end-0 badge bg-warning text-dark">₹2999 only</span>
                    <span class="rating">
                        <i class="fa-solid fa-star " style="color:#f1c500; font-size: 0.8rem;"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i>
                        <i class="fa-solid fa-star" style="color: #f1c500; font-size: 0.8rem"></i> <!-- This star is hollow to represent 4 out of 5 -->
                        (4.0)
                    </span>
                </span>
                  
                </div>

            </div>

        </div>
    
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html> -->