<!-- WhatsApp Button -->
<a href="https://wa.me/9120490640" class="whatsapp_float" target="_blank" rel="noopener noreferrer">
        
    <i class="fa-brands fa-whatsapp fa-2xl" style="color: #fff;"></i> </a>
</a>